.txxxxxxt{
    background-color: #0d3e02!important ;
    color: white;
    }
    .addsupervisor{
        background-color:#0d3e02!important  ;
        color: white;
        border-radius: 2rem;
        width: 10rem;
    }