.scheduleeee{
    background-color: #0d3e02!important ;
color: white;
margin-bottom: 2rem;
}
.space{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.schdes{
    font-weight: 800;
    color: #0d3e02;
    margin-right: 10rem;
}
.ant-space-vertical{
    flex-direction:row!important;
}
