.column1 {
  background-color: #0d3e02;
  background-size: cover;
  height: 100vh;
}
.column2login {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h22 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d3e02;
  font-weight: bold;
  margin-left: 3rem;
}
.emailpswd {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pswdI {
  width: 20rem !important;
}
.atag {
  color: #0d3e02;
}
.loginbutt {
  background-color: #0d3e02 !important;
  width: 12rem !important;
  border-color: #0d3e02 !important;
  border-radius: 2rem !important;
  color: white;
}
.imgelgu {
  margin-top: 3rem;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 45rem;
  height: 10rem;
}
.h11 {
  color: white;
  font-size: 3rem;
  margin-top: 2rem;
}
.uyu {
  display: flex;
  justify-content: center;
}
.formitem1 {
  width: 20rem !important;
  border-radius: 1rem !important;
  border-width: 1rem;
  background-color: aliceblue;
  display: flex !important;
  justify-content: center !important;
}
.btnnn {
  background-color: #0d3e02 !important;
  border-color: #0d3e02 !important;
  margin-left: -10rem;
  width: 7rem;
  border-radius: 2rem !important;
}
